
 .root{
 -fx-background-color: linear-gradient(#ADA996, #F2F2F2,#DBDBDB,#EAEAEA);	
 }
 
 .button{
-fx-background-color: linear-gradient(#e1eec3, #f05053);
-fx-border-color: black;
-fx-text-alignment: center;
-fx-font-size: 25 px;
-fx-font-style: italic;
 }
 
 .label{
 -fx-text-fill: #ff9966;
 -fx-underline: true;
 }
 
 